html {
    margin: 0;
    padding: 0;
    background-color: black;
    scroll-behavior: smooth;
}

.navbar img {
    width: 2rem;
    margin-right: 2%;
}

.navbar-brand {
    font-size: 1.5rem;
    padding-left: 3rem;
}

nav {
    background-color: transparent;
}

.navbar-brand a {
    margin: 0%;
    width: 50%;
}

#carousel1 {
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    background: transparent;
    border-color: transparent;
}

.borde {
    border-bottom: solid;
    border-color: #17a2b8;
}

#us {
    background-color: #343a40;
    color: white;
    padding-bottom: 6rem;
}

#highlights {
    padding-bottom: 5rem;
}

.card-body {
    background-color: #17a2b8;
}

footer {
    background-color: #17a2b8;
    display: flex;
}

footer h3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.link {
    justify-content: center;
}

footer .icons {
    margin-left: 10rem;
    display: inline-block
}

footer a {
    margin-left: 0.5rem;
    margin-right: 0.5em;
    color: white;
}